body{
	padding: 50px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	position: relative;
}

h2{	
	padding-top: 20px;
	color: #228899;
	font-weight: 400;
}

h3{
	background-color: #228899;
	color: #fff;
	font-weight: 300;
}

h4{
	color: #D9585D;
}

.btn-social-icon{
	margin-bottom: 3px;
	border-radius : 8px 0px 0px 8px;
}

footer{
	background : #eee;
	text-align: center;
}

footer a{
	text-decoration: none;
	color: #228899;
}

#social{
	position: fixed;
	right: -6px;
	top : 20%;
}

.row{
	margin-top: 25px;
	margin-bottom: 25px;
}

.profile-pic{
	width: 150px;
	border-radius: 50%;
}

#profile-info{
	margin-top: 20px;
	text-align: center;
	font-weight: 400;
	font-size: 22px;
}

h2{
	margin: 50px 0px 30px 0px;
}

.grey-bg{
	background : #eee;
}

.row-aboutme{
	min-height: 150px;
}

.row-aboutme div p{
	font-size: 20px;
	font-weight: 300;
}

.row-content{
	min-height: 550px;
}

.pro{
	margin-top: 20px;
	min-width: 200px;
	max-width: 250px;
	height: 250px;
	background: #333 url("../img/placeholder.png");
		border-radius: 5px;
}

.proimg1{
	background: #333 url("../img/quotes.png");
}

.proimg2{
	background: #333 url("../img/calculator.png");
}

.proimg3{
	background: #333 url("../img/pomodoro.png");
}

.proimg4{
	background: #333 url("../img/tribute.png");
}

.proimg5{
	background: #333 url("../img/weather.png");
}

.proimg6{
	background: #333 url("../img/wikiSearch.png");
}

.projLink{
	display: block;
	max-width: 230px;
	margin-top : 5px;
	margin-bottom: 0px;
	color: #228899;
	font-size: 16px;
	font-weight: bold;
	text-align: center;

}

.projDescription{
	max-width: 230px;
	font-weight: 300;
	text-align: center;
}

h3{
	padding: 10px 0px 10px 8px;
}

h4 + p + p{
	font-style: italic;
}

footer {
	margin :0px;
	padding: 10px 0px;
	font-family: 'Bitter', serif;
	font-weight: 400;

}

@media (min-width: 768px) and (max-width: 991px) { 
	.profile-pic{
		width: 200px;
	} 
	.row-content{
		margin-right: -115px;
		margin-left: -115px;
	}
	.row-aboutme{
		margin-left: -105px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.profile-pic{
		width: 200px;
		border-radius: 0px;
	}
	#profile-info{
		margin-top: 50px;
		margin-left: 62px;
		text-align: left;
		font-size: 30px;
		font-weight: 400;		
	}
	.row-aboutme{
		margin-left: -15px;
	}

	.row-content{
		margin-right: -115px;
		margin-left: -115px;
	}
	
	.exp-h1{
		margin-left: -15px;
	}
	
	.exp{
		margin-left: -15px;
	}
}

@media (min-width: 1200px) { 
	.profile-pic{
		width: 250px;
		border-radius: 5px;
	}
	
	#profile-info{
		margin-top: 70px;
		margin-left: 62px;
		text-align: left;
		font-size: 30px;
		font-weight: 400;		
	}

	.row-aboutme{
		margin-left: -65px; 
	}

	.row-content{
		margin-right: -75px;
		margin-left: -75px;

	}
	
	.pro{
		margin-left: -15px;
	}

	.pro + p + p{
		max-width: 200px;
		padding-left: 20px;
	}


	.exp{
		text-align: center;
	}
}