body{
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	position: relative;
}

h2{	
	padding-top: 70px;
	color: #228899;
	font-weight: 400;
	margin-bottom: 30px;
}

h4{
	background-color: #228899;
	color: #fff;
	font-weight: 300;
	padding: 10px 0px 10px 8px;
}

h5{
	color: #D9585D;
}

h5 + p + p{
	font-style: italic;
}

.btn-social-icon{
	margin-bottom: 3px;
	border-radius : 8px 0px 0px 8px;
}

footer{
	background : #eee;
	text-align: center;
}

footer a{
	text-decoration: none;
	color: #228899;
}

#social{
	position: fixed;
	right: -6px;
	top : 20%;
}

.profile-pic{
	width: 150px;
	display: flex;
	margin: 0 auto;
	border-radius: 50%;
}

#profile-info{
	margin-top: 20px;
	text-align: center;
	font-weight: 400;
	font-size: 22px;
}

.grey-bg{
	background : #eee;
}

.row-aboutme{
	min-height: 150px;
}

.row-aboutme div p{
	font-size: 20px;
	font-weight: 300;
}

.pro{
	margin-top: 20px;
	width: 200px;
	height: 200px;
	border-radius: 5px;
	margin: 0 auto;
	background: #333 url("../img/placeholder.png");
}

.proimg1{
	background: #333 url("../img/quotes.png");
}

.proimg2{
	background: #333 url("../img/calculator.png");
}

.proimg3{
	background: #333 url("../img/pomodoro.png");
}

.proimg4{
	background: #333 url("../img/tribute.png");
}

.proimg5{
	background: #333 url("../img/weather.png");
}

.proimg6{
	background: #333 url("../img/wikiSearch.png");
}

.proimg7{
	background: #333 url("../img/snake.png");
}

.proimg8{
	background: #333 url("../img/teaKettle.png");
}

.proimg9{
	background: #333 url("../img/ttt.png");
}

.proimg10{
	background: #333 url("../img/streamersInfo.png");
}

.proimg11{
	background: #333 url("../img/simon.png");
}

.projLink{
	display: block;
	margin-top : 5px;
	margin-bottom: 0px;
	color: #228899;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.projDescription{
	font-weight: 300;
	text-align: center;
}

footer {
	margin :0px;
	padding: 10px 0px;
	font-family: 'Bitter', serif;
	font-weight: 400;
}


#experience .col-10 h2{
	padding-top: 50px;
}

@media (min-width: 768px) and (max-width: 991px) { 
	.profile-pic{
		width: 200px;
		border-radius: 10px;
	}
	
	#profile-info{
		margin-top: 60px;
		text-align: left;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-nav{
		margin-right: 5%;
	}
	
	.profile-pic{
		width: 200px;
		border-radius: 0px;
	}
	#profile-info{
		margin-top: 50px;
		text-align: left;
		font-size: 30px;
		font-weight: 400;		
	}
	.row-aboutme{
		margin-left: -15px;
	}
}

@media (min-width: 1200px) { 
	.navbar-nav{
		margin-right: 5%;
	}

	.navbar-brand{
		margin-left: 8%;
	}
	.profile-pic{
		width: 250px;
		border-radius: 5px;
	}
	
	#profile-info{
		margin-top: 90px;
		text-align: left;
		font-size: 30px;
		font-weight: 400;		
	}

	.pro + p + p{
		max-width: 200px;
		padding-left: 20px;
	}
}