*{
	margin : 0px;
	border : 0px;
	box-sizing : border-box;
	-webkit-box-sizing : border-box;
	-o-box-sizing : border-box;
	-moz-box-sizing : border-box;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

body{
	background-color: #32567B;
	color: #7E99B5;
}

#wrapper{
	width: 720px;
	margin: 30px auto;
	position: relative;
	overflow: auto;
}

h1{
	text-align: center;
	font-family: cursive;
	font-weight: 400;
	margin-top: 50px;
}

#image{
	width: 200px;
	height: 200px;
	display: inline-block;
	border-radius: 50%;
	background: #bbb url("../img/Gandhi1.jpg") no-repeat;
	background-size: 200px;
	position: relative;
	z-index: 1;
}

#refresh{
	width: 32px;
	height: 32px;
	background: #ccc url("../img/refresh.png") no-repeat;
	background-size: 32px;
	position: absolute;
	right: 15px;
	bottom: 0px;
	cursor: pointer;
}

#social1{
	position: absolute;
	right: 57px;
	bottom: 0px;
}

#social2{
	position: absolute;
	right: 135px;
	bottom: 5px;
}

#quote-container{
	width: 600px;
	float: right;
	border: 2px solid #0A294A;
	position: absolute;
	top : 50px;
	right: 0px;
	padding: 10px 10px 10px 90px;
	border-radius: 8px;
	background-color: #517295;
	overflow: auto;
}

#quote{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 24px;
	text-align: right;
}

#author{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
