*{
	margin : 0px;
	border : 0px;
	box-sizing : border-box;
	-webkit-box-sizing : border-box;
	-o-box-sizing : border-box;
	-moz-box-sizing : border-box;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

body{
	background-color: #32567B;
	color: #7E99B5;
}

h1{
	text-align: center;
	font-family: cursive;
	font-weight: 400;
	margin-top: 50px;
}

#wrapper{
	width: 720px;
	margin: 30px auto;
	overflow: auto;
}

/*#image{
	width: 200px;
	height: 200px;
	display: inline-block;
	background-color: #bbb;
	background-repeat:  no-repeat;
	background-size: 200px;
	position: relative;
	z-index: 1;
}*/

#social-container{
	margin: 0px auto;
	margin-top :40px;
	position: relative;
}

#refresh{
	width: 32px;
	height: 32px;
	background: #ccc url("../img/refresh.png") no-repeat;
	background-size: 32px;
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 430px;

}

#social1{
	position: absolute;
	left: 300px;
	bottom: 0px;
}

#social2{
	position: absolute;
	left: 370px;
	bottom: 5px;
}

#quote-container{
	width: 600px;
	min-height: 100px;
	/*float: right;*/
	border: 2px solid #0A294A;
	/*position: relative;*/
	/*top : 50px;*/
	/*right: 0px;*/
	padding: 10px ;
	border-radius: 8px;
	background-color: #517295;
	overflow: auto;
	text-align: center;
	margin: 0px auto;
}

#quote{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 24px;
	/*text-align: right;*/
}

#author{
	/*position: absolute;*/
	text-align: center;
/*	right: 10px;
	bottom: 10px;*/
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	padding-top :10px;
}
