*{
	margin : 0px;
	border : 0px;
	box-sizing : border-box;
	-webkit-box-sizing : border-box;
	-o-box-sizing : border-box;
	-moz-box-sizing : border-box;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

body{
	background-color: #32567B;
	color: #7E99B5;
}

#wrapper{
	width: 80%;
	margin: 30px auto;
	position: relative;
}

h1{
	text-align: center;
	font-family: cursive;
	font-weight: 400;
	margin-top: 50px;
}

#quote-container{
	width: 100%;
	min-height: 120px;
	border: 2px solid #0A294A;
	padding: 20px;
	border-radius: 8px;
	background-color: #517295;
	overflow: auto;
}

#quote{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 24px;

}

#author{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

#refresh{
	width: 32px;
	height: 32px;
	background: #ccc url("../img/refresh.png") no-repeat;
	background-size: 32px;
	position: absolute;
	right: 15px;
	bottom: -40px;
	cursor: pointer;
}

#social1{
	position: absolute;
	right: 57px;
	bottom: -46px;
}

#social2{
	position: absolute;
	right: 135px;
	bottom: -40px;
}

